.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 1000px;
  margin: auto;
}
.wrapper .navigation {
  display: flex;
  flex-direction: column;
  width: 1000px;
  color: #fffffe;
  font-size: 26px;
  font-weight: 800;
  width: 20%;
  padding: 10px;
  z-index: 1000;
}
.wrapper .navigation .titleAndImg {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 40px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
  background-color: #232649;
}
.wrapper .navigation .titleAndImg .titleBox {
  z-index: 200;
  margin-right: 10px;
  margin-left: 10px;
}
.wrapper .navigation .titleAndImg .imgBox img {
  width: 50px;
  aspect-ratio: 1/1;
}
.wrapper .navigation .titleAndImg .imgBox img:hover {
  transform: scale(3);
  cursor: pointer;
}
.wrapper .insideBox {
  width: 80%;
  height: auto;
}
.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
